<div class="panel panel-default">
  <div class="panel-heading">Cotas Contempladas</div>
  <table class="table">
    <tr>
      <th>Código</th>
      <th>Grupo</th>
      <th>Categoria</th>
      <th>Crédito</th>
      <th>Consórcio</th>
      <th>Entrada</th>
      <th>Parcelas</th>
      <th>Restantes</th>
      <th>Saldo Devedor</th>
      <th>Próximo Vencimento</th>
      <th>Status</th>
    </tr>
  </table>
</div>
<div class="panel panel-default">
<div class="panel-heading">Cotas em Andamento</div>
<table class="table">
  <tr>
    <th>Código</th>
    <th>Grupo</th>
    <th>Categoria</th>
    <th>Crédito</th>
    <th>Consórcio</th>
    <th>Entrada</th>
    <th>Parcelas</th>
    <th>Restantes</th>
    <th>Saldo Devedor</th>
    <th>Próximo Vencimento</th>
    <th>Status</th>
  </tr>
</table>
</div>
