<footer class="footer">
  <p>www.WConsorcio.com.br</p>
  <p>Tels: (11) 3277-1732 / (11) 3275-0110 / (11) 9 9988-8586</p>
  <p>contato@wconsorcio.com.br</p>
  <p>Atendemos aos sábados, domingos e feriados!</p>
</footer>
