<div class="container">

  <!-- The justified navigation menu is meant for single line per list item.
       Multiple lines will require custom code not provided by Bootstrap. -->
  <div class="masthead">
    <nav>
      <ul class="nav nav-justified">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Atendimento</a></li>
        <li><a href="#">Cotas Não Contempladas</a></li>
        <li><a href="#">Cotas Contempladas</a></li>
        <li><a href="#">Sobre</a></li>
      </ul>
    </nav>
  </div>
