<div class="jumbotron">
  <h1>Veja nosso estoque de cotas</h1>
  <p class="lead"> Compramos e vendemos cotas contempladas e não contempladas.</p>
  <p class="lead"> Analisamos cotas também em atraso.</p>
  <p class="lead"> Fazemos a melhor avaliação do mercado.</p>
  <p class="lead"> Pagamento a vista.</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Entre em contato Agora!</a></p>
</div>
